/run.cmd
/.streamlit
result.xlsx
.langchain.db
/.langchain.db
/__pycache__
/backend/__pycache__
/backend/llm/__pycache__
.topics/topics.json
.env
/.tiktoken-cache
/backend/html_processors/__pycache__
